:root {
    --xc-code-background-color: rgba(214, 51, 132, 0.1);
}
a, a:hover {
    text-underline-offset:0.25em;
}
h2::after, h3::after {
    color: gray;
    font-weight: lighter;
    font-size: 0.5em;
}
h2::after {
    content: " h2";
}
h3::after {
    content: " h3";
}
code {
    background-color: var(--xc-code-background-color);
    padding: 2px;
    border-radius: 4px;
}
pre {
    border: 1px solid gray;
    padding: 8px;
    flex-direction: column;
    display: flex;
    background-color: var(--xc-code-background-color);
    border-radius: 0.5rem;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}
p {
    word-break: break-word;
}
pre code {
    background-color: unset;
}
blockquote {
    padding-left: 8px;
    border-left-color: gray;
    border-left-style: solid;
}
* :not(h1) {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

/* Code below only works for some of Typecho themes */
.comment-list {
    list-style: none;
}
.blockquote_note {
    border-left-color: #2E67D3;
}
.blockquote_note::before {
    content: "ℹ️ NOTE";
    color: #2E67D3;
}
.blockquote_tip {
    border-left-color: #428646;
}
.blockquote_tip::before {
    content: "💡 TIP";
    color: #428646;
}
.blockquote_important {
    border-left-color: #7B52D7;
}
.blockquote_important::before {
    content: "🔔 IMPORTANT";
    color: #7B52D7;
}
.blockquote_warning {
    border-left-color: #936921;
}
.blockquote_warning::before {
    content: "⚠️ WARNING";
    color: #936921;
}
.blockquote_caution {
    border-left-color: #BE3536;
}
.blockquote_caution::before {
    content: "⛔️ CAUTION";
    color: #BE3536;
}
