:root {
    --xc-code-background-color: rgba(214, 51, 132, 0.1);
    --bs-body-line-height: 1.65;
    --bs-body-font-size: 1rem;
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, li, dl, dt, dd, span, div, pre, code, a {
    text-autospace: normal; /* Some browsers may encounter inconsistencies when handling */
    -ms-text-autospace: ideograph-alpha ideograph-numeric ideograph-parenthesis;
}
a, a:hover {
    text-underline-offset: 0.25rem;
}
h1 { 
    font-size: 2.25rem;
}
h2::after, h3::after {
    color: gray;
    font-weight: lighter;
    font-size: 0.8rem;
}
h2::after {
    content: " h2";
}
.card-title::after {
    content: "";
}
h3::after {
    content: " h3";
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}
code {
    background-color: var(--xc-code-background-color);
    padding: 2px;
    border-radius: 4px;
}
pre {
    border: 1px solid gray;
    padding: 8px;
    flex-direction: column;
    display: flex;
    background-color: var(--xc-code-background-color);
    border-radius: 0.5rem;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}
p {
    word-break: break-word;
    line-height: 1.86;
    margin-bottom: 1.2rem;
}
pre code {
    background-color: unset;
}
blockquote {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-width: 4px;
    border-left-color: gray;
    border-left-style: solid;
}
blockquote > :last-child {
    margin-bottom: 0;
}
blockquote > :first-child {
    margin-top: 1rem;
}
div > :last-child {
    margin-bottom: 0;
}
/* * :not(h1) {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
} */

/* Code below only works for specific Typecho themes */
.comment-list {
    list-style: none;
}
.blockquote_note {
    border-left-color: #2E67D3;
}
.blockquote_note::before {
    content: "ℹ️ Note";
    color: #2E67D3;
    font-weight: bold;
}
.blockquote_tip {
    border-left-color: #428646;
}
.blockquote_tip::before {
    content: "💡 Tip";
    color: #428646;
    font-weight: bold;
}
.blockquote_important {
    border-left-color: #7B52D7;
}
.blockquote_important::before {
    content: "🔔 Important";
    color: #7B52D7;
    font-weight: bold;
}
.blockquote_warning {
    border-left-color: #936921;
}
.blockquote_warning::before {
    content: "⚠️ Warning";
    color: #936921;
    font-weight: bold;
}
.blockquote_caution {
    border-left-color: #BE3536;
}
.blockquote_caution::before {
    content: "⛔️ Caution";
    color: #BE3536;
    font-weight: bold;
}
.toc-container {
    max-width: 300px;
}
@media (max-width: 750px) {
    .toc-container {
        max-width: 100% !important;
        float: none !important;
        margin-left: 0 !important;
        margin-top: 1rem;
    }
}
.toc-container-no-float { /* 取消浮动目录浮动 注意post.php需同步 */
    max-width: 100% !important;
    float: none !important;
    margin-left: 0 !important;
    margin-top: 1rem;
}
.footer-link {
    text-decoration: none;
    color: rgba(var(--bs-link-color-rgb), 75%);
}
#page {
    max-width: 1000px;
}
/* 默认单列 */
#articles {
    /* column-count: 1; */
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;

}

/* 在宽度大于 991px 且文章数量超过 2 篇时显示两列 */
@media (min-width: 992px) {
    #articles:has(:nth-child(4)) {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 992px) and (min-width: 500px) {
    body {
        max-width: calc(100vw - (100vw - 500px) * 0.2);
    }
}

/* Bootstrap 5 Tweaks */

.card-body {
    position: relative;
}
.article-property-pill {
    background-color: var(--bs-body-bg);
    border-color: var(--bs-border-color);
    border-width: 0px;
    box-shadow: 0px 0px 20px rgba(var(--bs-body-color-rgb), 10%);
    display: inline-flex;
    align-items: center;
    cursor: default;
}
.article-property-pill-container {
    display: inline-flex;
    float: left;
    align-items: center;
    margin-left: -0.75rem;
}
.article-tile-summary {
    color: rgba(var(--bs-body-color-rgb), 60%);
    line-height: 1.6;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    flex-grow: 1;
}
.article-tile-url {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-decoration: none;
    font-size: 0.9rem;
}
.article-tile-title {
    font-size: 1.6rem;
}
.article-tile-date {
    margin-top: 0.5rem;
    color: rgba(var(--bs-body-color-rgb), 60%);
}